<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{{ PRODUCT_NAME }}}</title>
  <link rel="shortcut icon" href="TemplateData/favicon.ico" />
  <link rel="stylesheet" href="TemplateData/style.css" />
  <!-- Fror Dev Env.  -->
  <script type='text/javascript' src='https://www.frolicx0.de/public/assets/js/analytics.min.js'> </script>
  <!-- Fror Production Env.  -->
  <!-- <script type='text/javascript' src='https://www.frolic.live/public/assets/js/analytics.min.js'> </script> -->
</head>

<body>
  <div id="unity-container" class="unity-desktop">
    <canvas id="unity-canvas"></canvas>
    <img src="TemplateData/SplashScreen-bg.jpg" id="unity-background" alt="" />
    <!-- Main Loading container -->
    <div id="unity-loading-container">
      <div class="unity-loading-bar">
        <!-- Loading Text  -->
        <p class="loading-text">Loading the game...</p>
        <!-- Progress Bar container -->
        <div class="progress-bar">
          <!-- Loading background -->
          <img class="loading-background" src="./TemplateData/Loading_BG.png" alt="" />
          <!-- Loading progress fill image -->
          <img class="loading-fill" src="./TemplateData/Loading_ProgressBar.png" alt="" />
          <!-- Shine loading-gloss -->
          <!-- <img class="loading-shine" src="./TemplateData/Loading_Shine.png" /> -->
          <!-- Loading outline -->
          <!-- <img class="loading-outline" src="./TemplateData/Loading_Border.png" alt="" /> -->
          <!-- Loading icon that moves with the progress  -->
          <!-- <img class="loading-end-icon" src="./TemplateData/Loading_Icon.png" alt="" /> -->
        </div>
      </div>
    </div>
  </div>
  <script>
    const showLoadingEndIcon = true; // Akash - toggle this variable to show and hide progress icon
    const progressBarHeight = '100%'; // Akash - progress bar height

    var buildUrl = "Build";
    var loaderUrl = buildUrl + "/{{{ LOADER_FILENAME }}}";
    var config = {
      dataUrl: buildUrl + "/{{{ DATA_FILENAME }}}",
      frameworkUrl: buildUrl + "/{{{ FRAMEWORK_FILENAME }}}",
      codeUrl: buildUrl + "/{{{ CODE_FILENAME }}}",
      #if MEMORY_FILENAME
        memoryUrl: buildUrl + "/{{{ MEMORY_FILENAME }}}",
      #endif
#if SYMBOLS_FILENAME
        symbolsUrl: buildUrl + "/{{{ SYMBOLS_FILENAME }}}",
      #endif
        streamingAssetsUrl: "StreamingAssets",
      companyName: "{{{ COMPANY_NAME }}}",
      productName: "{{{ PRODUCT_NAME }}}",
      productVersion: "{{{ PRODUCT_VERSION }}}",
    };

    var container = document.querySelector("#unity-container");
    var canvas = document.querySelector("#unity-canvas");
    var unityBackground = document.querySelector("#unity-background");
    var loadingBar = document.querySelector(".unity-loading-bar");
    var loadingText = document.querySelector(".loading-text");
    var unityLoadingContainer = document.querySelector("#unity-loading-container");
    var progressBarFill = document.querySelector(".loading-fill");
    const loadingEndIcon = document.querySelector('.loading-end-icon');

    if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
      container.className = "unity-mobile";
      // Avoid draining fillrate performance on mobile devices,
      // and default/override low DPI mode on mobile browsers.
      config.devicePixelRatio = 1;
    } else {
      canvas.style.width = "100%";
      canvas.style.height = "100%";
    }

    if (!showLoadingEndIcon && loadingEndIcon) loadingEndIcon.style.visibility = 'hidden';
    if (loadingBar) loadingBar.style.display = "flex";
    if (progressBarFill) progressBarFill.style.height = progressBarHeight;
    var script = document.createElement("script");
    script.src = loaderUrl;
    script.onload = () => {
      // Progress update script below
      createUnityInstance(canvas, config, (progress) => {
        if (game_mode == 1) {
          if (progressBarFill) progressBarFill.style.width = 100 * progress + "%";
          if (loadingEndIcon) loadingEndIcon.style.left = "85%";
        } else {
          let clampedProgress = Math.min(Math.max(progress, 0), 0.9);
          // increase width of progress image and simultaneously move loading icon to the left
          if (progressBarFill) progressBarFill.style.width = 100 * clampedProgress + "%";
          if (loadingEndIcon) loadingEndIcon.style.left = ((100 * clampedProgress) - 8) + "%";
        }
      })
        .then((unityInstance) => {
          gameInstance = unityInstance;
        })
        .catch((message) => {
          alert(message);
        });
    };
    document.body.appendChild(script);

    let gameInstance = null;
    let game_mode = 0;
    let xmlRequestsSet = false;

    function SendAPIVariablesToUnity(API_Variables) {
      game_mode = API_Variables.game_mode;
      let _myString = JSON.stringify(API_Variables);

      if (xmlRequestsSet === false) {
        const apiJSObject = JSON.parse(_myString);
        if (apiJSObject.hasOwnProperty(`game_base_url`) && Boolean(apiJSObject.game_base_url)) {
          xmlRequestsSet = true;
          SetUpXMLHttpRequests(apiJSObject.game_base_url);
        }
      }

      gameInstance.SendMessage(
        "Bridge",
        "Send_APIVariables_ToUnity",
        _myString
      );
    }

    function SetUpXMLHttpRequests(baseURL) {
      XMLHttpRequest.prototype.originalOpen = XMLHttpRequest.prototype.open;
      const newOpen = function (_, url) {
        const original = this.originalOpen.apply(this, arguments);
        if (url.indexOf(`${baseURL}`) === 0) {
          this.withCredentials = true;
        }

        return original;
      }
      XMLHttpRequest.prototype.open = newOpen;
    }

    function SendPlayerVariablesToUnity(INFO_Variables) {
      let _myString = JSON.stringify(INFO_Variables);
      gameInstance.SendMessage(
        "Bridge",
        "Send_PlayerInfoVariables_ToUnity",
        _myString
      );
    }

    function ShowErrorCode(errorCode) {
      if (loadingText) loadingText.innerText = `Error Code ${errorCode}`;
    }

    function UpdateConnectionStatus(status) {
      if (game_mode == 2) {
        if (status == 0) {
          if (loadingText) loadingText.innerText = "Reconecting to game server";
        }
        else {
          if (loadingText) loadingText.innerText = "Waiting for other players to join";
        }
      }
    }

    function executePlayerConnectedToGame(name, params = {}) {
      if (game_mode == 2) {
        if (loadingText) loadingText.innerText = "Waiting for other players to join";
      }
    }

    function executeGameplayStarted(name, params = {}) {
      ClearLoadingScreen();
    }

    function UpdateTime(secondsPassed) {
      gameInstance.SendMessage("NetworkManager", "ChangeTime", secondsPassed);
    }

    function AppInBackground(is_Paused) {
      gameInstance.SendMessage("UpdateGameAudio", "ToggleSound", is_Paused);
    }

    function ClearLoadingScreen() {
      unityBackground.style.display = "none";
      unityLoadingContainer.style.display = "none";
    }
  </script>
</body>

</html>