body {
  padding: 0;
  margin: 0;
}
#unity-container {
  position: absolute;
}
#unity-container.unity-desktop {
  float: left;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#unity-container.unity-mobile {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#unity-canvas {
  background-color: black;
}
.unity-mobile #unity-canvas {
  width: 100%;
  height: 100%;
}


/* Background Image of the screen  - Akash  */
#unity-background {
  background: url("SplashScreen-bg.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  object-fit: cover;
}

/* load local fonts */
@font-face {
  /* font-family is given so that it can be used any where in the code. Refer line 76 - Akash   */
  font-family: gameFont;
  /* file path  */
  src: url(Font.ttf);
}


/* Loading Text CSS - Akash  */
p.loading-text {
  color: #ffffff;
  letter-spacing: 1px;
  font-family: gameFont;
  font-size: 55px;
  width: 100%;
  word-wrap: break-word;
  text-align: center;
}

#unity-loading-container {
  position: fixed;
  /* Change below value to move the loading container up and down  - Akash  */
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 40vh;
  padding: 50px;
  box-sizing: border-box;
}

.unity-loading-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}


.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

/* Progress image CSS - Akash   */
.loading-fill {
  position: absolute;
  width: 0%;
  height: 100%;
  left: 0%;
}

.loading-end-icon {
  width: 180px;
  position: absolute;
  left: -3%;
  z-index: 4;
}
.loading-shine {
  position: absolute;
  z-index: 2;
  height: 100%;
  /* change below value to move shine layer  - Akash */
  /* top: 5%  */
}
.loading-outline {
  position: absolute;
  width: 100%;
  z-index: 3;
}
@media screen and (min-width: 1800px) {
  #unity-progress-bar-empty {
    bottom: 6%;
  }
}


/* landscape mode css */
@media only screen and (orientation: landscape) {
  #unity-loading-container {
    height: 30vh;
    padding: 10px;
    /* Change below value to move the loading container up and down - Akash   */
    bottom: 8%; 
  }
  p.loading-text {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .progress-bar {
    width: 50%;
  }
  #unity-progress-bar-full {
    left: 1.9%;
    height: 87%;
  }
  .loading-end-icon {
    width: 100px;
    left: 0%;
  }
  .loading-shine {
    width: 100%;
  }
}
